@import '../variables/colors';
@import 'fonts';
@import 'mixins/vertical-align';
.form-container {
  background-color: $grey;
  padding: 0 !important;
  align-items: center;

  .form-header {
    color: darken($grey, 50%);

    h1 {
      margin-top: 1em;
      @include vertical-align;
      font-family: "dejavu";
      vertical-align: middle;
    }
    background-color: $taupe;
    width: 100%;
    margin: 0;
  }

  label {
    color: darken($grey, 50%);
    font-family: "dejavu";
  }

  .btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Arial;
    color: darken($grey, 50%);
    font-size: 20px;
    background-color: $taupe;
    padding: 9px 20px 10px 20px;
    text-decoration: none;

    &:hover {
      background-color: $quick-silver;
    }
  }
}

.form-group {
  @include span-columns(6);
}
