@import '../variables/colors';
@import 'fonts';
@import 'mixins/vertical-align';
.form-container {
  padding: 0 !important;
  align-items: center;

  .form-header {
    color: darken($grey, 50%);
    h1 {
      font-family: "brawler";
    }

    h1 {
      margin-top: 1em;
      @include vertical-align;
      font-family: "dejavu";
      vertical-align: middle;
    }
    width: 100%;
    margin: 0;
  }

  label {
    color: darken($grey, 50%);
    font-family: "dejavu";
  }

  // .btn {
  //   -webkit-border-radius: 0;
  //   -moz-border-radius: 0;
  //   border-radius: 0px;
  //   font-family: Arial;
  //   color: darken($grey, 50%);
  //   font-size: 20px;
  //   padding: 9px 20px 10px 20px;
  //   text-decoration: none;
  //
  //   &:hover {
  //     background-color: $quick-silver;
  //   }
  // }
}

.form-group {
  @include span-columns(6);
}

.btn {
  position: relative;

  display: block;
  margin: 30px auto;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

  background-color: #53a7ea;
  color: #ecf0f1;

  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #53a7ea;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, .3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width .2s ease-out, padding-top .2s ease-out;
}
