<h1>Quizzes for <%= titleize(@genre.name) %></h1>

<ol>
  <%= for quiz <- @quizzes do %>
    <li>
      <%= link(titleize(elem(quiz, 1)), to: "/quizzes/#{elem(quiz, 0)}")%>
    </li>
  <% end %>
</ol>
