<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Music Trivia</title>
    <script src="https://use.fontawesome.com/3787ac236a.js"></script>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <!--- Nav Bar --->
  <div class="container nav_container">
    <header class="nav column">
      <ul>
        <li>
          <h3><%= link("MusicQuizz", to: "/") %></h3>
        </li>
        <%= if logged_in?(@conn) do %>
          <li>
          </li>
        <% else %>
          <li>
            <h6><%= link("Sign Up", to: registration_path(@conn, :new)) %></h6>
          </li>
          <li>
            <h6><%= link("Log In", to: session_path(@conn, :new)) %></h6>
          </li>
        <% end %>
      </ul>
      <hr/>
    </header>
  </div>

  <body>
    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
