.quiz_column {
  height: 150px;
  text-align: center;
  background-color: rgba(238, 238, 238, 1);
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
}
