<h1>Quizzes for <%= @genre.name %></h1>

<ol>
  <%= for q <- @quizzes do %>
    <li>
      <%= link(q.name, to: genre_quiz_path(MusicQuiz.Endpoint, :show, @genre.id, q.id)) %>
    </li>
  <% end %>
</ol>
