<h1><%= titleize(@quiz.name) %></h1>

<ol>
  <%= for question <- @questions do %>
    <li>
      <%= question.content %>
        <ol>
          <li>
            <%= question.answer.content %>
          </li>
          <li>
            <%= for response <- question.responses do %>
              <%= response.content %>
            <% end %>
          </li>
        </ol>
    </li>
  <% end %>
</ol>
