@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'variables/colors';

.container {
  @include outer-container;
  margin: 20px;
}

.column {
  background-color: lighten($base-grey, 20%);
  height: 300px;
  @include span-columns(6);

  .sub_div_header {
    text-align: center;
  }
}

.column_12 {
  @include span-columns(12);
}

.column_2 {
  @include span-columns(6);
  background-color: silver;
}

.column_3 {
  @include span-columns(4);
  background-color: silver;
}

.serif {
  font-family: Georiga !important;
}

.sans-serif {
  font-family: Helvetica !important;
}

body {
  background-color: white !important;
}
