@import 'bourbon/bourbon';
@import 'neat/neat';

.container {
  @include outer-container;
}

.column {
  background-color: silver;
  height: 300px;
  @include span-columns(6);

  .sub_div_header {
    text-align: center;
  }
}
