@font-face {
  font-family: "dejavu";
  font-style: normal;
  src: url("../fonts/dejavu-sans-mono/DejaVuSansMono.ttf") format("truetype");
}

@font-face {
  font-family: "brawler";
  font-style: normal;
  src: url("../fonts/brawler/Brawler.otf") format("opentype");
}
